/*_____________________________________________________ COMMON*/

/* Foundations*/

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
    background-color: #e6e6e6;
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

/* Texts*/

p, h1{
    font-family: 'happy_times_at_the_ikob_newIt', serif;
    font-weight: normal;
    font-style: normal;
}

h4, h3, h2{
    font-family: monospace;
    font-weight: normal;
    white-space: nowrap;
    margin:0;
}

h3, h2{
    text-transform: uppercase;
}

h1{
    margin:0;
}

a{
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 768px) {

    a:hover{
        cursor: crosshair;
        filter: opacity(.3);
    }

}

/* Colors*/

.dataviz{
    background-color: #FFC3BB;
}

.ixd{
    background-color: #FFBBEC;
}

.vizid{
    background-color: #BBFFD6;
}

.eddes{
    background-color: #FEFFBB;
}

.phot{
    background-color: #C1BBFF;
}

.game{
    background-color: #BBDEFF;
}

/* Attributes*/

.underline{
    text-decoration: underline;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
    align-items: flex-start;
}

.column{
    flex-direction: column;
}

.center-x{
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

/*_____________________________________________________ HOMEPAGE*/

@media screen {

    .main{
        flex-direction: column-reverse;
    }

    /* ------------------------------------> HP mobile Left column*/

    #homepage-lt{
        padding: 20px;
    }

    #hp-list{    
        max-width:none;
    }

    .hp-year-proj{
        flex-direction: column;
        border-top: 2px dotted #000;
    }

    .hp-years{
        font-size: 1rem;
        margin: 1.5rem 0 3rem 0;
    }

    .year-arrow{
        display:none;
    }

    .hp-project-li{
        font-size: 1rem;
        margin: 0;
    }

    .hp-categories{
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    
    .hp-categories h3{
        font-size: 0.8rem;
        border-radius: 30px;
        padding: 6px 12px;
        margin: 0.8rem 8px 0 0;
    }

    /* ------------------------------------> HP mobile Right column*/

    #homepage-rt{
        padding: 0 20px;
    }
    
    #about-me{
        max-width:900px;
        padding: 0 0 20px 0;
    }

    #about-me p{
        font-size: 1.25rem;
        line-height: 1.8rem;    
    }
    
}

@media screen and (min-width: 768px) {

    .main{
        flex-direction: row;
    }

    /* ------------------------------------> HP tablet Left column*/

    #homepage-lt{
        width: 40%;
        padding: 60px 60px 60px 40px;
    }

    #hp-list{    
        max-width: fit-content;
        border: none;
    }

    .hp-year-proj{
        flex-direction: row;
        border: none;
    }

    .hp-years{
        margin: 0.1rem 40px 0 0;
    }

    .year-arrow{
        display: inline;
    }

    .hp-categories{
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }
    
    .hp-categories h3{
        font-size: 0.75rem;
        border-radius: 30px;
        padding: 4px 8px;
        margin: 0.75rem 8px 0 0;
    }

    /* ------------------------------------> HP tablet Right column*/

    #homepage-rt{
        width: 60%;
        height: 100vh;
        position: sticky;
        top: 0;
        border-left: 2px dotted #000;
        padding: 0 40px;
    }
    
    #about-me{
        padding-top: 40px;
    }

    #about-me p{
        font-size: 1.333rem;
        line-height: 2rem;    
    }
    
}

@media screen and (min-width: 1025px) {

    /* ------------------------------------> HP desktop Left column*/

    #homepage-lt{
        padding: 60px 80px 60px 40px;
    }

    /* ------------------------------------> HP tablet Right column*/

    #homepage-rt{
        padding: 0 60px;
    }
    
}

/*_____________________________________________________ PROJECT PAGE*/

@media screen {

    #home-button{
        position:fixed;
        top: 15px;
        left:50%;
        transform:translateX(-50%);
        z-index: 4;
        width: calc(100vw - 40px);
        font-family: monospace;
        font-weight: normal;
        white-space: nowrap;
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        line-height: 1rem;
        padding: 8px 0;
        border-radius: 40px;
        border: 2px solid #000;
        background-color: #e6e6e6;
        color: #000;
    }
    
    #home-button:hover{
        background-color: #000;
        color: #e6e6e6;
    }

    .show-desktop{
        display: none;
    }

    .show-mobile{
        display: inline;
    }

    /* ------------------------------------> PP mobile Left column*/ 

    #projectpage-lt{
        padding: 70px 20px 20px 20px;
    }

    #title-above{     
        display: none;
        Position: fixed;
        top: 0;   
        z-index: 3;
        background-color: #e6e6e6;
    }

    #title-below{        
        z-index: 3;
        color: #000;
        position: relative;
        top: 0;
    }

    .title-container{
        padding-bottom: 1.5rem;
        align-items: flex-start;
    }
    
    .title-container h1{
        font-size: 1.563rem;
        line-height: 2.2rem;
        margin: 0;
    }

    #pp-text-container{
        position: relative;
    }

    #project-intro{
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding-top: 1rem;
        border-top: 2px dotted #000;
        border-bottom: 2px dotted #000;
        margin-bottom: .5rem;    
    }

    #pp-categories{
        flex-wrap: wrap;
    }

    .project-category{
        margin-right: 20px;
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 6px 12px;
        border-radius: 30px;
    }

    .project-year{
        font-size: 1.25rem;
    }
    
    #description-container{
        border-bottom: 2px dotted #000;
    }
    
    #description-container p{    
        font-size: 1.25rem;
        line-height: 1.8rem;  
    }
    
    #img-container{
        position:relative;
        z-index: 2;
        margin-top: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #img-container img{
        margin-bottom: 1rem;
    }
    
    .single-img{
        width:100%;
    }
    
    .double-img{
        width:100%;
    }

    /* ------------------------------------> PP mobile Right column*/
    
    #projectpage-rt{
        display: none;
    }

}

@media screen and (min-width: 768px) {

    #home-button{
        top: 70px;
        left: 0;
        width: auto;
        padding: 4px 12px;
        transform: rotate(90deg);
    }

    .show-desktop{
        display: inline;
    }

    .show-mobile{
        display: none;
    }

    /* ------------------------------------> PP tablet Left column*/

    #projectpage-lt{
        width:75%;
        padding: 0 80px 40px 80px;
    }

    #title-above{
        display:block;
        width: calc(75% - 120px);
    }

    .title-container{
        padding-top: 40px;
    }
    
    .title-container h1{
        font-size: 1.777rem;
        line-height: 2.5rem;
    }

    #pp-text-container{
        position: sticky;
        top: 0;
    }

    #project-intro{
        padding: 0;
        align-items: center;
        border: none;
    }

    #pp-categories{
        flex-wrap: nowrap;
    }

    .project-category{
        margin-right: 20px;
        margin-bottom: 0;
        font-size: 1rem;
        padding: 6px 12px;
        border-radius: 30px;
    }

    .project-year{
        font-size: 1.333rem;
    }

    #description-container{
        border: none;
    }
    
    #description-container p{    
        font-size: 1.333rem;
        line-height: 2rem;  
    }
    
    .double-img{
        width:49%;
    }

    /* ------------------------------------> PP tablet Right column*/

    #projectpage-rt{
        display: block;
        height: 100vh;
        width: 25%;
        position: sticky;
        top: 0;
        background-color: #f4f4f4;
    }

    .pp-list{
        padding: 60px 20px 0 20px;
    }
    
    .pp-year-proj{
        border-top: 2px dotted #000;
    }
    
    #other-projects{
        padding:0;
        margin:0;
        margin-bottom:1rem;
    }
    
    .pp-years{
        font-size: 0.75rem;
        margin: 1rem 0 2rem 0;
    }
    
    .pp-project-li{
        margin: 0;
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 1rem;
        margin-right: 8px;
    }
    
    a.selected{
        filter:opacity(0.3);
        cursor: default;
    }
    
    .circle-container{
        white-space: nowrap;
    }
    
    .category-circle{
        display: inline-block;
        padding: 7px;
        border-radius: 30px;
        margin: 0;
        margin-left: 6px;
        transform:translateY(3px);
    }

}

@media screen and (min-width: 1025px) {

    #home-button{
        left: 20px;
    }

    /* ------------------------------------> PP desktop Left column*/

    #projectpage-lt{
        padding: 0 140px 40px 140px;
    }

    #title-above{
        display:block;
        width: calc(75% - 210px);
    }

    /* ------------------------------------> PP desktop Right column*/

}